@font-face {
    src: url(fonts/the_wild_breath_of_zelda/Zelda.otf);
    font-family: zelda;
}

body {
  background-color: rgb(45, 45, 45);
  color: white;
  text-align: center;
}

header {
  margin: 10px;
  padding: 50px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "League Spartan", sans-serif;
  font-size: 100px;
  margin: 10px;
}

img {
  border-radius: 50px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2),
    0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.greeting {
  font-size: 40px;
  margin: 20px;
}

article div {
  font-family: "Open Sans", sans-serif;
}

li {
  text-align: left;
}

.goal {
  font-size: 20px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  list-style: none;
  margin: auto;
}

ul div {
  padding: 30px;
  background-color: rgb(33, 33, 33);
  border-radius: 20px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2),
    0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

ul div:hover {
  background-color: rgb(22, 22, 22);
}

ol {
  padding: 20px;
  list-style: disc;
}

.about-me {
  background-color: rgb(33, 33, 33);
  height: auto;
  width: 600px;
  margin: auto;
  padding: 60px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2),
    0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.about-me h2 {
    font-size: 50px;
    margin: auto;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-style: italic;
    font-weight: 900;
}

a:hover {
    color: yellow;
}

.zelda {
    font-family: zelda, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
}

footer {
    margin: auto;
}
